.sidebar-home-wrapper {
  display: flex;
  height: 90vh;
  margin-top: 20px;
}

.sidebar-home-wrapper aside{
  margin-left: 5%;
  width: 35%;
  min-width: 365px;
}

.sidebar-home-wrapper aside p {
  font-size: 20px;
}

#sidebar {
  margin-top: 20px;
}

#home {
  background-image: url('https://res.cloudinary.com/devleg/image/upload/v1523855739/ian-dooley-331063-unsplash.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 55%;
  margin-right: 5%;
  position: relative;
  min-height: 370px;
}

.cat {
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

.initial-position {
  position: absolute;
  bottom: 3%;
  left: 15%;
}

footer {
  margin-right: 5%;
  float: right;
}

#my-bag-container{
  margin-top: 30px;
  border: 2px solid gray;
  padding: 20px;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px gray;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
}

/* #my-bag-container:hover{
  border: 2px solid #F7DC6F;
  -moz-box-shadow: 0 0 10px #F7DC6F;
  -webkit-box-shadow: 0 0 10px #F7DC6F;
  box-shadow: 0 0 10px #F7DC6F;
} */

#bag-image {
  margin-left: 55px;
}

/* change cat position on drag*/
.spot {
  width: 100px;
  height: 100px;
  position: absolute;
}

#home {
  display: flex;
  flex-wrap: wrap;
}

/* style my bag */
#items-in-bag{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 250px;
}

/* food in my bag*/
.in-bag {
  border: 0;
}
.to-feed {
  border: 2px solid #F7DC6F;
  -moz-box-shadow: 0 0 10px #F7DC6F;
  -webkit-box-shadow: 0 0 10px #F7DC6F;
  box-shadow: 0 0 10px #F7DC6F;
}
